/* Roboto */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

/* Inria Sans */

@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/inria-sans/InriaSans-Regular.ttf') format('truetype');
}

/* Inter */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/inter/Inter-Regular.ttf') format('truetype');
}
